@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');

:root{
    --background-navbar-color:#34495e;
    
    --background-one-color:#7878FF;
    --background-two-color:#FFB791;
    --background-Three-color: #84FFEE;
    --background-four-color:#4242B3;
    --background-five-color:#63B34B;
    
    --background-card-color:#d4d4d4;

    /*variable update*/
    --color-primary: #444CF7;
    --color-title: #000;
    --align-title: left;
    --padding-container: 100px 0;
    --width-container: 90%;
    --max-width-comtainer: 1200px;
    --color-btn:#444CF7;
    --text_btn:#fff;
    --padding-btn: 20px 35px;
    --height--shape:18em;
}
main{
    background-color: white;
}
.container{
    width: var(--width-container);
    max-width: var(--max-width-comtainer);
    padding: var(--padding-container);
    margin: 0 auto;
    overflow: hidden;
}
.hero{
    height: 100vh;
    min-width: 500px;
    position: relative;
    --padding-container: 0;
}
.hero::after{
    content: "";
    display: block;
    position: absolute;
    height: var(--height--shape);
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    clip-path: polygon(0 100%,100% 100%,100% 0);
}
.hero__container{
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;
}
.hero__title{
    font-size: 3rem;
}

.hero__copy{
    font-size: 1.2rem;
    margin: 25px 0;
}

.hero__cta{
    display: inline-block;
    background: var(--color-btn);
    color: #fff;
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;
}
.hero__img{
    width: 95%;
}
/*the final update*/
body{
    font-family: 'Inter', sans-serif;
    background-color: #bdbdf5;
    background-size: 28px 28px;
    background-position: 0 0,14px 14px;
}


/*skins*/
.skins_title{
    text-align: center;
    font-size: 30px;
    font-style: inherit;
    
}
.container_skin{
    display: flex;
    justify-content: space-around;
}
.skin{
    background: white;
    width: 200px;
    padding: 3%;
    margin: 5%;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--background-card-color);
    border-width: 1px;
    box-shadow: 2px 2px 2px  #dfdfdf;
}

.title_skin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_skin > *{
    margin: 5px;
}
.title_skin > h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.list_skin > *{
    color: black;
}
li{
    list-style: disc;
}
/*MyWorks*/
.container_work{
    margin: 10% 0% 5% 0%;
    text-align: center;
    position: relative;
    align-items: center;
}
.containe_tittle_work > p{
    font-size: 30px;
    padding: 10px 0px 10px 0px ;
}
.container_pomd > img{
    width: 60%;
}

/*footer*/

footer{
    background: var(--background-one-color);
    padding: 60px 0 30px 0 ;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}

.contenet-foo{
    text-align: center;
}
.contenet-foo h4{
    color: #fff;
    border-bottom: 3px solid var(--background-four-color);
    padding-bottom: 5px;
    margin-bottom: 10px;

}

.contenet-foo p{
    color: #ccc;
    border-bottom: 3px solid var(--background-four-color);
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: white;
    
}
.container_redes{
    display: flex;
}
.container_redes > a{
    width: 40%;
    margin-left: 10px;
}

@media (max-width: 909px){
    .datel{
        display: block;
    }
    
}

@media (max-width: 600px){
    .container_skin{
        display: block;
    }
    .skin{
        width: 80%;
        margin: 10px 40px 10px 40px;
    }
    .list_skin{
        padding: 0px 0px 0px 10px;
    }
    .contenedor-footer{
        display: block;
    }
    .hero__container{
        display: block;
    }
    .hero__container > img{
        width: 100%;
        margin: 2rem 0 0 0 ;
    }
}